.regist-header
  .regist-header__inner
    .wrapper
      %h1.wrapper__logo
        = link_to root_path, class: "wrapper__logo__furima" do
          = image_tag "material/logo/logo.png", class: "stylist-image1"
      %nav.user-header__nav
        %ol.user-header__nav__ol
          %li.active.user-header__nav__ol__progress
            会員情報
            .user-header__nav__ol__progress__li
          %li.user-header__nav__ol__progress
            住所登録
            .user-header__nav__ol__progress__li
          %li.user-header__nav__ol__progress
            完了
            .user-header__nav__ol__progress__li