.pur-all{
  background-color: whitesmoke;
}
  .item__sell__header__logo {
    text-align: center;
    background-color: whitesmoke;
    .furima__logo {
      margin: 40px 0 40px 0;
      width: 180px;
      height: 50px;
    }
  }


  .pur-main{
    background: #fff;
    width: 700px;
    margin: 0 auto;
    h2{
      font-size: 22px;
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    &__inner{
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      padding: 40px;
      max-width: 343px;
      margin: 0 auto;

      &--content{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
      &--text{
        margin-top: 10px;

      }
    }
  }
  .purchase-image{
    width: 80px;
    color: white;
    margin-right: 10px;

  }
  .purchase-text{
    span{
      background-color: red;
      color: white;
    }
  }

  .pur-center{
    margin: 0 auto;
  }

  .pur-left{
    width: 100px;
    font-weight: bold;
  }

  .pur-right{
    width: 200px;
    text-align: right;

}
  .item__sell__footer {
    height: 220px;
    padding: 40px 0 41px 0;
    background-color: whitesmoke;
    text-align: center;
    ul {
      li {
        font-size: 12px;
        margin-left: 16px;
        display: inline;
      }
    }
    &__logo {
      text-align: center;
      .furima__white__logo {
        height: 50px;
        width: 180px;
        margin-top: 40px;
      }
    }
  }

  .style__line {
    border-top-color: #efefef;
    border-top-style: solid;
    border-bottom: 0 solid;
    margin: 0 350px 0 350px;
  }